
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        header {
            text-align: center;
            background-color: #ff0606;
            padding: 20px;
        }

        h1 {
            color: #e9de0c;
        }

        section {
            margin-bottom: 20px;
        }

        h2 {
            color: #c21313;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 5px;
        }
    